{{ block title }}Your Choice{{ endblock }}
{{ block content }}

<p>
You are
{{if player.id_in_group == 1}}
            Hunter 1 and your payoff is the first number of each cell<P>

            </P>
            {{ if subsession.round_number == 3 }}
            Hunter 2 payoff has been changed and they will now earn 3 points instead of 2 if they hare hunt
            {{endif}}
        </p>

        
    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">Hunter 2</th>
            </tr>
            <tr>
                <th>Stag</th>
                <th>Hare</th>
            </tr>
            <tr>
                <th rowspan="2"><span>Hunter 1</span></th>
                <td><button name="hschoice" value="True" class="btn btn-primary btn-large">Stag</button></td>
                <td>{{ C.stag_match_payoff }}, {{ C.stag_match_payoff }}</td>
            <td>0 points, {{ if player.round_number >= 3 }}
                3 points
            {{ else }}
                2 points
            {{ endif }}</td>
            </tr>
            <tr>
                <td><button name="hschoice" value="False" class="btn btn-primary btn-large">Hare</button></td>
                <td>{{C.h_1_hare_payoff}}, 0 point</td>
            <td>1 point, {{ if player.round_number >= 3 }}
                3 points
            {{ else }}
                2 points
            {{ endif }}</td>
            </tr>
        </table>
    </div>

{{else}}
Hunter 2 and your payoff is the second number of each cell<p>
    
</p>
            {{ if subsession.round_number == 3 }}
            your payoff has been changed and you will now earn 3 points instead of 2 if you hare hunt
            {{endif}}
        </p>

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">Hunter 2</th>
            </tr>
            <tr>
                <th><button name="hschoice" value="True" class="btn btn-primary btn-large">Stag</button></th>
                <th><button name="hschoice" value="False" class="btn btn-primary btn-large">Hare</button></th>
            </tr>
            <tr>
                <th rowspan="2"><span>Hunter 1</span></th>
                <td>Stag</button></td>
                <td>{{ C.stag_match_payoff }}, {{ C.stag_match_payoff }}</td>
            <td>0 points, {{ if player.round_number >= 3 }}
                3 points
            {{ else }}
                2 points
            {{ endif }}</td>
            </tr>
            <tr>
                <td>Hare</button></td>
                <td>{{C.h_1_hare_payoff}}, {{C.stag_mismatch_payoff}}</td>
            <td>1 points, {{ if player.round_number >= 3 }}
                3 points
            {{ else }}
                2 points
            {{ endif }}</td>
            </tr>
        </table>
    </div>


{{endif}}


    
{{ endblock }}
